
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    margin: 0;
    padding: 1;
    width: 100vw;
    height: 100vh;
	font-family: 'Pixelify Sans', monospace;
	background-color:white
	overflow: hidden;
}

a{
	text-decoration: none;
}

div{
    width: 100vw;
    height: 100vh;
}

.intro{
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    text-align: center;
    font-size: 35px;
    text-decoration: none;
    max-width: 1000px;
    max-height: 300px;
    z-index: 2;
}

.slime{
    width: 164px; 
    position: absolute;
    block-size: 100px;
    box-sizing: border-box;
    padding: 0;
    top: 60%;
    left: 40%;
    background: url("assets/slimeidlecropped.gif");
    background-repeat:no-repeat;
}

.slime:hover{
    background: url("assets/hurtslimecropped.gif");
    background-repeat:no-repeat;
}
